# build directory
.deps/
.verification/
build
build-ninja
build-conda
build-conda-py311
build-header-units
build-tbb-module
build-backend-module
build-profile-pch
build-profile-backend
build-inline-*
build-noinline-*
build-macos-clang/
build-linux-gcc/
build-windows-msvc/
build-custom/
cmake-build-debug
cmake-build-release

# env
venv

# idea
.vscode
.idea
.cache
__pycache__/
